@import '../../styles/config';

.tabs {
	li {
		border-radius: 0.2rem;
		margin: 0rem 0.5rem 0 0;
		padding: 0.1rem 1.6rem;

		a {
			font-size: 1.3rem;
			color: $gray-400;
		}
	}

	.current {
		background: $gray-100;

		a {
			color: $gray-900;
		}
	}
}

.tabContent {
	padding: 0rem 1.6rem;
}
