@import '../../styles/config';

.typewriter {
	margin: 0;
	padding: 0 0 1.4rem 0;
	font-family: $secondary-font;
	font-weight: 300;
	font-size: 4.2rem;
	color: $gray-600;
	line-height: 4.3rem;

	:nth-child(1) {
		padding-bottom: 0.4rem;
	}
}
