@import '../../styles/config';

.typewriter {
	margin: 0;
	padding: 0 0 1.4rem 0;
	font-family: $secondary-font;
	font-weight: 300;
	font-size: 6rem;
	color: $gray-600;
	line-height: 6rem;

	li:nth-child(1) {
		font-style: italic;
		margin-bottom: 1rem;
	}
}

@include media-md {
	.typewriter {
		padding: 0 0 4rem 0;
		font-size: 7rem;
		line-height: 7rem;

		li:nth-child(1) {
			font-style: italic;
			margin-bottom: 1.8rem;
		}
	}
}
